---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - k8s.cni.cncf.io
  resources:
  - multi-networkpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.turbosimone.com
  resources:
  - networkpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.turbosimone.com
  resources:
  - networkpolicies/finalizers
  verbs:
  - update
- apiGroups:
  - networking.turbosimone.com
  resources:
  - networkpolicies/status
  verbs:
  - get
  - patch
  - update
